@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
}

/* Override react-custom-roulette internal styles */
.wheel-container > div {
  width: 280px !important;
  height: 280px !important;
}
